node_modules
.env
.idea

# Hardhat files
/cache

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

.deps
/contracts/**/artifacts
artifacts/build-info
artifacts/**/*.dbg.json

.memo

hardhat.config.ts
gasReport.ss